<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AskAlice</title>

    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Quicksand:300|Montserrat|Baloo+Bhai&display=swap&subset=cyrillic"
          rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="{% static "css/main.css" %}">
</head>

<body class="d-flex flex-column">
<nav class="navbar navbar-expand sticky-top bg-light navbar-light text-light">
    <a class="navbar-brand brand-font text-dark text-left col-2" href="{% url 'index' %}">AskAlice</a>
    <form class="form-inline text-font justify-content-start col-6">
        <div class="input-group mr-2 col-8" style="padding-left: 5px;">
            <div class="input-group-prepend">
                <span class="input-group-text border-right-0 bg-white left-round" id="basic-addon1">
                    <svg xmlns="http://www.w3.org/2000/svg" class="search-panel-query-icon" width="22px" height="22px"
                         fill="#5f6368" viewBox="0 0 24 24"> <path
                            d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
                    </path>
                    </svg>
                </span>
            </div>
            <input class="form-control border-left-0 right-round" type="text" placeholder="Search..."
                   aria-label="Search"
                   aria-describedly="basic-addon1">
        </div>
        <div class="col-2">
            <form>
                <button class="btn btn-outline-light rounded-pill btn-red" formaction="{% url 'ask' %}">Ask</button>
            </form>
        </div>

    </form>
    <div class="container justify-content-lg-center justify-content-end col-lg-3 col-4 mr-0">
        {% include 'user_block.html' %}
    </div>
</nav>

<div class="row mx-0 flex-row">
    <div class="col-2 pink pr-100"></div>
    <div class="col-7 my-4" style="padding-left: 45px;">
        <h2 class="header-font"> {% block title %} {% endblock %} </h2>

        {% block questions %}
        {% endblock %}

        {% block line %}
            <hr class="mb-4">
        {% endblock %}

        {% block body %}
        {% endblock %}
    </div>
    <div class="col-3 text-dark position-sticky my-4">
        <h2 class="header-font bottom-indent">| Popular tags</h2>
        <div class="col-10">
            {% for tag in popular_tags %}
                <a class="text-dark mr-3" href="{% url 'tag' tag.name %}"><u>{{ tag.name }}</u></a>
            {% endfor %}
        </div>

        <h2 class="header-font bottom-indent mt-4">| Best members</h2>
        {% for member in best_members %}
            <p class="text-font ml-3">{{ member.nickname }}</p>
        {% endfor %}
    </div>
</div>

<footer id="sticky-footer" class="py-4 bg-dark text-white-50 sticky-bottom">
    <div class="container text-center">
        <small>Copyright &copy; AskAlice</small>
    </div>
</footer>

<script src="{% static 'js/questions.js' %}"></script>

</body>
</html>
