<div class="pagination col-10">
    <span class="step-links mx-auto">
    {% load static %}
        {% if objects.has_previous %}
            {% if objects.previous_page_number != 1 %}
                <a class="page_number" href="?page=1">
                <img src="{% static "images/left-arrow.svg" %}" alt="" height="13">
            </a>
            {% endif %}

            <a class="page_number"
               href="?page={{ objects.previous_page_number }}"><u>{{ objects.previous_page_number }}</u></a>
        {% endif %}

        <span class="page_number">
            {{ objects.number }}
        </span>

        {% if objects.has_next %}
            <a class="page_number"
               href="?page={{ objects.next_page_number }}"><u>{{ objects.next_page_number }}</u></a>

            {% if objects.next_page_number != objects.paginator.num_pages %}
                <a class="page_number" href="?page={{ objects.paginator.num_pages }}">
                <img src="{% static "images/right-arrow.svg" %}" alt="" height="13">
            </a>
            {% endif %}
        {% endif %}
    </span>
</div>
