<div class="card mb-5 col-10">
    <div class="row">
        <div class="col-2">
            <img src="{{ answer.author.avatar.url }}" alt="" height="60" class="mx-auto d-block my-3">
            {% if user.is_authenticated %}
                {% load static %}
                <button class="btn mx-auto d-block p-0 js-vote" data-aid="{{ answer.id }}" data-vote="inc"
                        onclick="vote(this)">
                    <img src="{% static "images/chevron-top.svg" %}" height="15">
                </button>
                <div class="text-center">{{ answer.rating }}</div>
                <button class="btn mx-auto d-block p-0 js-vote" data-aid="{{ answer.id }}" data-vote="dec"
                        onclick="vote(this)">
                    <img src="{% static "images/chevron-bottom.svg" %}" height="15">
                </button>
            {% else %}
                <div class="text-center">{{ answer.rating }}</div>
            {% endif %}

            {% if answer.correct %}
                <div class="text-center correct">Correct</div>
                {% else %}
                <div class="text-center correct" style="visibility: hidden">Correct</div>
            {% endif %}
        </div>

        <div class="col-10">
            <div class="text-font my-3">
                {{ answer.text }}
            </div>

            <div class="form-check">
                {% if user.is_authenticated and user.profile == question.author %}
                    {% if answer.correct %}
                        <input class="form-check-input js-correct" data-aid="{{ answer.id }}" data-action="unset"
                               onclick="correct(this)" type="checkbox" value="" id="defaultCheck1" checked>
                    {% else %}
                        <input class="form-check-input js-correct" data-aid="{{ answer.id }}" data-action="set"
                               onclick="correct(this)" type="checkbox" value="" id="defaultCheck1">
                    {% endif %}

                    <label class="form-check-label" for="defaultCheck1">
                        Correct
                    </label>
                {% endif %}
            </div>
        </div>
    </div>
</div>
